$text_grey: #787878;
$normal_font: 0.875rem;
$back_grey: #a5a5a5;
$font_cuota: 3.625rem;
$color_titles: #0c863d;
$button_pide: #f79a42;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    overflow: hidden;
}
