$text_grey: #787878;
$normal_font: 0.875rem;
$back_grey: #f1f1f1;
$font_cuota: 3.625rem;
$color_titles: #0c863d;
$button_pide: #f79a42;

$gap_size: 20px;
$font_main: 58px;
$left-width: 50%; // Ajusta según sea necesario

.main {
    background-color: $back_grey;
    display: grid;
    grid-template-columns: $left-width 2fr;
    gap: $gap-size;
    align-items: center;
    height: 44.418rem;
    width: 100%;
    flex-wrap: wrap;

    .main__left {
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6rem;
        width: 100%;

        .main__left__button-container {
            width: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            .main__left-button {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: auto 0;
                width: 13.75rem;
                height: 3rem;
                align-items: center;
                background-color: $button_pide;
            }

            .main__left-points {
            }
        }

        .main__left__title {
            padding: 0 auto;
            width: 100%;
            text-align: left;
            .left__title {
                text-align: left;

                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                .title {
                    text-align: left;

                    color: $color_titles;
                    font-size: $font_main;
                }

                .subtitle {
                    text-align: left;
                }
            }

            .left__subtitle {
            }
        }
    }

    .main__right {
        padding: 0 auto;
        width: 100%;
        grid-column: 2 / 3;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .right__img__container {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 100%;

            .main__img {
                position: absolute;
                top: 0;
                left: 0;
                width: 530px;
                height: 710px;
            }

            .img__mano {
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
            }

            .img__back-verde {
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
            }
        }
    }
}
